.container{
    width: 450px;
    margin-left: 100px;
    margin-top: 70px;
}
.main-container{
  display: flex;
}
.image img{
  height: 200px;
  width: 200px;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.search-container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    width: 800px;
    background-color: #e3e3e3;
    border-radius: 5px;
    padding: 10px 15px;
  }

  .search-input {
    border: none;
    background-color: #e3e3e3;
    flex: 1;
    font-size: 16px;
    padding: 8px;
    outline: none;
  }

  .search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    transition: background-color 0.3s;
  }

  .search-button:hover {
    background-color: #0056b3;
  }
  .categories{
    margin-top: 150px;
    padding: 20px 100px 100px;
    background-color: #000000e0;
  }
  .line{
    margin-top: -200px;
    margin-bottom: -70px;
  }

  @media screen and (max-width: 768px) {

    .container{
      width: 350px;
      margin-left: 15px;
      margin-top: 25px;
  }
    .search-container {
      margin-top: 10px;
      display: flex;
      align-items: center;
      width: 340px;
      background-color: #e3e3e3;
      border-radius: 5px;
      padding: 5px 5px;
    }
    h1{
      font-family: 'Times New Roman', Times, serif;
      font-size: 40px;
  }
  .categories{
    padding: 17px 75px 100px;

  }
  }